# Composer
/vendor/
/composer.lock

# Laravel-specific (pokud používáš pro testy)
.env
.phpunit.result.cache

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# PHPStorm
*.iml

# Coverage and test outputs
coverage/
.phpunit.cache/
